{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}
{% if cart.get_no_of_items > 0 %}
<div class="container-fluid py-3">
    <div class="row">
        <div class="col-sm-8">
    <div class="card container">
        <h4 class="title text-center">My Cart ({{ cart.get_no_of_items }}) </h4>
        {% for item in cart %}
            {% with product=item.product %}
                <hr>
                <div class="row">
                <div class="col-md-4">
                    <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" class="w-100" height="200px;"></a>
                  </div>
                  <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                      <h3 class="card-title">{{ product.name }}</h3>

                        <h5 class="card-text font-weight-bold">Rs. {{ item.total_price }}</h5>
                        <form action="{% url 'cart_add' product.id %}" method="post" class="form-inline">
                            {{ item.update_quantity_form.as_p }}
                            {% csrf_token %}
                        </form>
                      <a href="{% url 'cart_remove' product.id %}" class="btn btn-danger btn-sm">Remove</a>
                    </div>
                  </div>
                    </div>
        {% endwith %}
    {% endfor %}
        <hr>
        <div class="card-body text-right">
            <a href="{% url 'product_list' %}" class="btn btn-primary"> &leftarrow; Continue shopping</a>
            <a href="{% url 'order_create' %}" class="btn btn-success">Checkout</a>
        </div>
    </div>
    </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Price Details</h4>
                    <hr>
                    <div class="row">
                        <div class="col text-left">Price ( {{ cart|length }} item{{ cart|length|pluralize }} )</div>
                        <div class="col text-right font-weight-bold">Rs. {{ cart.get_total_price }}</div>
                    </div>
                    <div class="row">
                        <div class="col text-left">Delivery Charges</div>
                        <div class="col text-right font-weight-bold text-success">FREE</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col text-left font-weight-bold">Amount Payable</div>
                        <div class="col text-right font-weight-bold">Rs. {{ cart.get_total_price }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="text-center">
    <img src="{% static 'img/empty_cart.png' %}" alt="empty_cart" class="img-fluid" width="100">
    <h4>Your Cart is Empty</h4>
    <h4>Click <a href="{% url 'product_list' %}">here</a> to continue shopping</h4>
</div>
{% endif %}
{% endblock %}