<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mothers Details</title>
</head>
<body>
<center>
<h1>Mother Details</h1>
<hr>
<table width="30%">
    <tr>
        <td>Name</td>
        <td>{{ mom.name }}</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>{{ mom.phone }}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{ mom.address }}</td>
    </tr>
    <tr>
        <td>Items Can cook</td>
        <td>{{ mom.items }}</td>
    </tr>
    <tr>
        <td>Timings</td>
        <td>{{ mom.timing }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ mom.mailid }}</td>
    </tr>
</table>
</center>
</body>
</html>